<div data-section-id="{{ section.id }}" data-section-type="fit-guide" id="fit-guide">
    {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
            <div class="banner-only-images{% if forloop.first == true %} active{% endif %}" data-section-id="fit-top-{{collections[block.settings.collection].handle}}">
                <img class="desktop_image" src="{{ block.settings.desktop_banner | img_url: '2000x' }}" alt="desktop_banner">
                <img class="desktop_image" src="{{ block.settings.mobile_banner | img_url: '800x' }}" alt="mobile_banner">
            </div>
        {% endfor %}
        <div class="selet-size-part">
            <div class="container-fluid">
                <div class="scroll-part">
                    {% for block in section.blocks %}
                        {% assign current_collection = collections[block.settings.collection] %}
                        <!-- Start Collection -->
                        <div class="main-class-select-product fit-guid-collection-div">
                            <div class="iamges-part collection-fit-guid-click desktop-fit-image" data-collection-handle="{{current_collection.handle}}">
                                <img src="{{ block.settings.desktop_fit_image | img_url: '200x' }}" alt="Fit Guide">
                            </div>
                            <div class="iamges-part collection-fit-guid-click mobile-fit-image" data-collection-handle="{{current_collection.handle}}">
                                <img src="{{ block.settings.mobile_fit_image | img_url: '200x' }}" alt="Fit Guide">
                            </div>
                            <a class="fit-guid-single-title collection-fit-guid-click" data-collection-handle="{{current_collection.handle}}">
                                <h5 class="name">{{block.settings.fit_guide_title}}</h5>
                            </a>
                            <p class="fit-guid-description hide">{{block.settings.description}}</p>
                        </div>
                        <!-- End Collection -->
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="product-slider"></div>
    {% endif %}
</div>