{% if settings.popup %}

{{ '//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' | stylesheet_tag }}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" defer="defer"></script>
<div id="myModal" class="modal subscribe-modal">
  <div class="page-center-modal">
    <div class="modal-content">
        <span class="close"></span>
        {% unless settings.email_popup_title == blank %}
        <h2>{{ settings.email_popup_title }}</h2>
        {% endunless %}
        {% unless settings.email_popup_bottom_text == blank %}
        <p class="intro">{{ settings.email_popup_bottom_text }}</p>
        {% endunless %}
        <form class="subcribe-form" id="subscribe--popup--form">
            <input class="form-field" type="email" aria-label="Enter Your Email address" id="email" name="Email" placeholder="{{ settings.email_popup_input_placeholder }}">
            <input class="form-field" type="text" aria-label="Enter Your Birthdate" id="birthdate-datepicker" placeholder="{{ settings.dob_popup_input_placeholder }}">
            <input type="hidden" id="birthdate" name="Birthdate" value="">
            <br/>
            <p class="intro">{{ settings.email_popup_interested_text }}</p>
            <div class="men-women-category">
                <label class="custom-radio">Women's
                    <input type="radio" name="signup_for" value="women" id="signup_for_women_popup">
                    <span class="checkmark"></span>
                </label>
                <label class="custom-radio">Men's
                    <input type="radio" name="signup_for" value="men" id="signup_for_men_popup">
                    <span class="checkmark"></span>
                </label>
                <label class="custom-radio">Kid's
                    <input type="radio" name="signup_for" value="kid" id="signup_for_kid_popup">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div id="button-footer-newsletter-submit-popup" for="footer-newsletter-submit-popup">
                <input class="subscribe-button" id="footer-newsletter-submit-popup" type="submit" value="Subscribe">
            </div>
        </form>
        <div id="subscribe--popup--form-response">
            <div id="subscribe--popup--error-response" style="display:none;">{{ settings.email_popup_error }}</div>
            <div id="subscribe--popup--success-response" style="display:none;">{{ settings.email_popup_success }}</div>
        </div>
    </div>
  </div>
</div>
<script>
  $(document).ready( function() {
    $(function() {
      $("#birthdate-datepicker").datepicker( {
        dateFormat: 'dd/mm/yy',
        maxDate: '+0',
        altFormat: "yy-mm-ddT07:00:00+0000",
        altField: "#birthdate"
      } );
    });
  });
</script>
{% endif %}  