<div class="footer-section" data-section-id="{{ section.id }}" data-section-type="footer-section">
  <footer class="site-footer">  
    {% comment %} :: ROW #1 -- Footer Menu + Social Links :: {% endcomment %}
    <div class="row">
      {% comment %} :: FOOTER NAVIGATION :: {% endcomment %}
      {% if section.blocks %}          
          {% for block in section.blocks %}
            {% assign menu = linklists[block.settings.menu_id] %} 
            <div class="col-md-2 col-xs-12 col-sm-4 footer-part">
              <nav>
                {% comment %} :: TITLE : Basic title if no nested menus inside footer :: {% endcomment %}
                {% if menu.levels < 2 and block.settings.show_headings %}
                  <h4 class="nav-sub-header">{{ menu.title }}</h4>
                {% endif %}


                {% comment %} :: LINKS : Menu Content links :: {% endcomment %}
                <ul>
                  {% for link in menu.links %}
                    
                    {% comment %} :: NESTED MENU :: {% endcomment %}
                    {% if link.levels > 0 %}
                      <li class="footer-sub-nav-wrapper" data-link-size="{{ link.links.size }}">
                        
                        {% comment %} :: SUB-NAV HEADER :: {% endcomment %}
                        {% if block.settings.show_headings %}
                          <h4 class="nav-sub-header">{{ link.title }}</h4>
                        {% endif %}

                        {% comment %} :: SUB-NAV MENU LINKS :: {% endcomment %}
                        <ul class="footer-sub-nav">
                          {% for sub_link in link.links %}
                            <li>{{ sub_link.title | link_to: sub_link.url }}</li>
                          {% endfor %}
                        </ul>

                      </li>

                    {% comment %} :: ELSE, REGULAR SINGLE LINK :: {% endcomment %}
                    {% else %}
                       <li>{{ link.title | link_to: link.url }}</li>
                    {% endif %}

                  {% endfor %}
                </ul>
              </nav>
            </div><!-- .footer-nav -->
          {% endfor %}   
      {% endif %}

      <div class="col-md-3 col-sm-4 col-xs-12 footer-part">
        <div class="social-inner">
          {% unless section.settings.social_heading == blank %}
            <h4 class="section-title">{{ section.settings.social_heading }}</h4>
          {% endunless %}
          <ul id="social-icons" class="social-icon">
            {% include 'social-icons' %}
          </ul><!-- #social-icons -->
        </div><!-- .social-inner -->    
      </div><!-- .social-wrapper -->
    </div><!-- .row -->
    {% comment %} :: ROW #2 -- Telephone and copyright :: {% endcomment %}
    <p class="cpyright"><a href="tel:{{ section.settings.tel_number }}">{{ section.settings.tel_text }}</a> | © 2019 Joe's Jeans. All rights reserved.</p>
  </footer>
</div>

{% comment %}
    {
    "name": "Social Media",
    "settings": [
    {
      "type": "text",
      "id": "social_heading",
      "label": "Social - Heading",
      "default": "Connect With Us"
    }],
    "presets": [{
      "name": "Newsletter & Social",
      "category": "Promotional"
    }]
  }
  {% endcomment %}

{% schema %}
  {
    "name": "Footer & Social",
    "settings": [
      {
        "type": "header",
        "content": "Phone Number"
      },
      {
        "type": "text",
        "id": "tel_text",
        "label": "Display Text",
        "default": "1-877-528-JOES (5637)",
        "info": "This is the text that will be displayed on the site."
      },
      {
      "type": "text",
      "id": "tel_number",
      "label": "Actual Number",
      "default": "18775285637",
      "info": "This is the number that will actually be dialed when the link is clicked on mobile. Do not include dashes or any punctuation."
      },
      
      {
        "type": "text",
        "id": "social_heading",
        "label": "Social - Heading",
        "default": "Connect With Us"
      } 
    ],
    "blocks":[
    {
      "type":"link_list",
      "name":"Menu",
      "settings":[
        {
          "type": "link_list",
          "id": "menu_id",
          "label": "Footer Menu"
        },
        {
          "type": "checkbox",
          "id": "show_headings",
          "label": "Show Footer Menu Headers",
          "default": true
        }
      ]
    },

    {
      "type":"link_list_2",
      "name":"Menu 2",
      "settings":[
        {
          "type": "link_list",
          "id": "menu_id",
          "label": "Footer Menu"
        },
        {
          "type": "checkbox",
          "id": "show_headings",
          "label": "Show Footer Menu Headers",
          "default": true
        }
      ]
    }
    ],
   "presets": [{
      "name": "Footer",
      "category": "Promotional"
    }]
  }
  
{% endschema %}
