{% comment %} TEMPLATE {% endcomment %}

<script id="instagram-template" type="text/template">
  {% raw %}
    <div class="loop_part">
      <a class="instagram-image-container" target="_blank" href="{{link}}" rel="ig" title="{{caption}}">
        <img class="instagram-image" src="{{image}}" />
      </a>
    </div>
  {% endraw %}
</script>

<div class="homepage-section instagram-feed no-fouc index-section" data-section-id="{{ section.id }}" data-section-type="instagram">
  <section>
        <div class="as-see-on-part">
            <div class="container-fluid">
                <div class="ppp">
                    <div class="heading-part">
                        {% if section.settings.heading != blank %}
                          <h2>{{ section.settings.heading | escape }}</h2>
                        {% endif %}
                        {% if section.settings.text != blank %}
                          <div class="copy">{{ section.settings.text }}</div>
                        {% endif %}
                    </div>

                    {% assign token = section.settings.instagram_access_token %}
                    {% capture userid %}
                    {{- token | truncate: 9, "" -}}
                    {% endcapture %}
                    <div class="as-see-part-slider">
                      {% if section.settings.instagram_access_token != blank %}
                      {% comment %}
                        <div class="flexslider instafeed-mob-slider">
                          <ul id="instafeed-{{ section.id }}" class="slides" data-access-token="{{ token }}"></ul>
                        </div>
                      {% endcomment %}
                      <div id="instafeed-{{ section.id }}" class="instafeed-mob-slider" data-access-token="{{ token }}"></div>
                      {% else %}

                      {% include 'onboard-instagram' %}
                      {% endif %}
                    </div>

                    {% comment %} CTA {% endcomment %}                   
                    {% if section.settings.cta_text != blank and section.settings.link != blank %}
                    <div class="cta">
                      <a href="{{ section.settings.link }}" target="_blank" class="black_butt">
                        <span>{{ section.settings.cta_text }}</span>
                      </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</div>

<style>
  .instagram-image-container {
    display: block;
    overflow: hidden;
    margin: 0px !important;
    padding: 0px;
    height: 100%;
  }
</style>


{% schema %}
{
	"name": "Instagram feed",
	"settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Follow us on Instagram"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Lorem ipsum dolor sit amet, coasins ec tetur adipiscing elit</p>"
    },
    {
       "type": "url",
         "id": "link",
      "label": "Link"
    },
    {
       "type": "text",
         "id": "cta_text",
      "label": "CTA text",
    "default": "View All"
    },    
    {
        "type": "textarea",
        "id": "instagram_access_token",
        "label": "Instagram access token",
    	  "info": "Required for permission to show your Instagram content [instructions here](http://support.undergroundmedia.co.uk/customer/en/portal/articles/2386318-home-page---instagram-feed) for setup."
    }
  ],
  "presets": [
    {
      "name": "Instagram feed",
      "category": "Social media"
    }
  ]
}
{% endschema %}
