<section id="newsletter-social" class="newsletter-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="newsletter-subscribe">
  <div class="container-fluid">
      <div class="newsletter-part-new">
          <div class="sign-up-last-part">
              <h5>{{ section.settings.heading }}</h5>
              <form id="footer-newsletter">
                  <div class="men-women-category">
                    {{ section.settings.newsletter_subheading }}
                    <label class="custom-radio">Women's
                      <input type="radio" checked="checked" name="signup_for" value="women" id="signup_for">
                      <span class="checkmark"></span>
                    </label>
                    <label class="custom-radio">Men's
                      <input type="radio" name="signup_for" value="men" id="signup_for">
                      <span class="checkmark"></span>
                    </label>
                </div>
                <input class="form-field" type="email" id="email" name="Email" placeholder="{{ section.settings.newsletter_placeholder }}">
                <label id="button-footer-newsletter-submit" for="footer-newsletter-submit">
                  <input class="subscribe-button" id="footer-newsletter-submit" type="submit" value="Subscribe">
                  {% comment %} {% include 'svg-icon-caret-right-submit' %} {% endcomment %}
                </label>
              </form>
              <div id="newsletter-form--response">
                <span id="newsletter-error-response" style="display:none;">{{ section.settings.newsletter_error }}</span>
                <span id="newsletter-success-response" style="display:none;">
                {{ section.settings.newsletter_success }}</span>
              </div>
          </div>
      </div>
  </div>
</section>

{% schema %}
{
   "name":"Newsletter",
   "settings":[
    {
     "type": "paragraph",
     "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading",
      "default": "<p>SIGN UP & RECEIVE $25 OFF YOUR FIRST ORDER!</p>"
    },
    {
      "type": "richtext",
      "id": "newsletter_subheading",
      "label": "Radio Select Text",
      "default": "<p>I want updates for:</p>"
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": "Placeholder Text",
      "default": "Email Address"
    },
    { 
      "type": "text",
      "id": "newsletter_error",
      "label": "Error Text",
      "default": "Please enter a valid e-mail address"
    },
    {
      "type": "richtext",
      "id": "newsletter_success",
      "label": "Success Text",
      "default": "<p>You have successfully joined our newsletter</p>"
    }
   ]
}
{% endschema %}
