{%- capture section_settings -%}
{
  "disableAutoSelect": {{- section.settings.disable_auto_select | json -}},
  "selectionTitle": {{- section.settings.selection_label | json -}}
}
{%- endcapture -%}

{% assign has_audience = false %}
{% for tag in product.tags %}
  {% if tag contains 'audience_' %}
    {% assign has_audience = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% assign current_variant = product.selected_or_first_available_variant %}

<div itemscope itemtype="http://schema.org/Product"
  id="product-{{ product.id }}"
  class="product-page product-template"
  data-product-id="{{ product.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product-section"
  data-section-settings='{{ section_settings }}'>

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">

  {% comment %}
  {% unless template == 'product.quick' %}
    {% include 'product-mobile-header' %}
  {% endunless %}
  {% endcomment %}

  {% include 'product-video--data' %}

  <div class="mobile-product-photos--wrapper">
    {% comment %} MOBILE PRODUCT PHOTOS {% endcomment %}
    <div id="mobile-product-photos" class="owl-carousel mobile-3">
      {%- if product.featured_image -%}
        {% include 'mobile-product-image-gallery' %}
      {%- else -%}
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        <img class="product-main-image" src="{{ 'bc-sf-filter-no-image.gif' | asset_url | product_img_url: '800x' }}" alt='{{ product.title | escape }}' style="max-width: 100%;"/>
      {%- endif -%}

      {% comment %} :: MOBILE VIDEO PLAYER :: {% endcomment %}
      {{ mobile_product_video }}          {% if video_data != blank %}
        {% comment %} :: VIDEO - ITERATE :: (Build an element for each set of video props in 'video_data' array) {% endcomment %}
        {% for video_props in video_data %}
          {% include 'product-video-util--props' %}
          {% include 'product-video--player-mobile' %}
        {% endfor %}
      {% endif %}
    </div>
  </div>

    {% comment %} DESKTOP PHOTOS {% endcomment %}
  <div class="row product-details--top">
    <div id="product-photos" class="desktop-6 tablet-3 mobile-hide" data-product-gallery>

      {% comment %} :: ITEM BADGE :: {% endcomment %}
      {% if template == 'product' %}
        {% include 'react-item-badge' %}
      {% endif %}
      {%- if product.featured_image -%}
        {% include 'product-image-gallery' %}
      {%- else -%}
        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
        <img id="{{ product.id }}" class="product-main-image" src="{{ 'bc-sf-filter-no-image.gif' | asset_url | product_img_url: '800x' }}" alt='{{ product.title | escape }}' style="max-width: 100%;"/>

      {%- endif -%}
    </div>

    <div id="product-right" class="desktop-6 tablet-4">

      <div id="product-description">
        {% if section.settings.vendor %}
          <h2>{{ product.vendor }}</h2>
        {% endif %}

        <h1 class="product-name  product-title-content" itemprop="name">{{ product.title }}</h1>

        <p class="product-color-name">{% for tag in product.tags %}{% if tag contains 'subtitle_' %}{{ tag | split: 'subtitle_' | last }}{% endif %}{% endfor %} </P>


        <div id="product-details--wrapper" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
          {% capture product_form_config %}

            {
                "button": {{ 'products.product.add_to_cart' | t | json }},
                "currency_switcher_enabled": {{ settings.show_multiple_currencies | json }},
                "enable_history": true,
                "hide_price_on_unavailable": false,
                "money_format": {{ shop.money_format | json }},
                "sold_out": {{ "products.product.sold_out" | t | json }},
                "unavailable": {{ 'products.product.unavailable' | t | json }},
                "variant_display_type": {{ section.settings.variant_display_type | json }}
                }
          {% endcapture %}

          {% include 'product-form' %}

          <div class="product-actions">
            {% comment %} :: Social sharing :: {% endcomment %}
            {% if section.settings.show_social %}
              <div class="share-me product-action product-action--share">
                <div class="share-me__social-sharing">
                  {% include 'social', share_title: product.title, share_permalink: product.url, share_image: product %}
                </div>
              </div>
            {% endif %}
          </div>

          {% unless template == 'product.quick' %}
            {% if product.description != blank %}
              {% assign full_product_description = product.description | split: '<!-- details -->' %}
              {% assign product_description = full_product_description[0] %}

              {% assign other_product_detail = full_product_description[1] | split: '<!-- fit_info -->' %}
              {% assign product_detail = other_product_detail[0] %}
              {% assign fit_imformation = other_product_detail[1] %}

                {% comment %} :: Product description :: 'Before content of <!-- details -->' {% endcomment %}
                <hr class="product-hr">
                <dl id="product-description--accordion" class="product-desc product-description">
                    {% comment %} :: PRODUCT DETAIL - Header :: {% endcomment %}
                    <dt id="product-description---accordion-header" class="accordion-header-pdp open"><h3>Description</h3><span class="opener">{% include 'svg-icon-caret-down' %}</span></dt>
                    {% comment %} :: PRODUCT DETAIL - Content :: {% endcomment %}
                    <dd id="product-description--accordion-content" class="accrodion-content-pdp" style="display:block">
                        {{ product_description }}
                        <div class="clear"></div>
                          {% comment %} :: SKU :: {% endcomment %}
                          {% if section.settings.show_sku and product_type != 'gift card' %}
                            <div class="product-number">
                              Style: <span class="product-sku">{{ current_variant.sku | split: '-' | first }}</span>
                            </div>
                          {% endif %}
                        <div class="clear"></div>
                    </dd>
                </dl><!-- .product-desc product-description -->

              {% comment %} Check if Details available then only Show detail section {% endcomment %}
              {% if product_detail != blank %}
                <hr class="product-hr">
                <dl id="product-detail--accordion" class="product-desc product-details">
                  {% comment %} :: PRODUCT DETAIL - Header :: {% endcomment %}
                  <dt id="product-detail---accordion-header" class="accordion-header-pdp"><h3>Details</h3><span class="opener">{% include 'svg-icon-caret-down' %}</span></dt>

                  {% comment %} :: PRODUCT DETAIL - Content :: {% endcomment %}
                  <dd id="product-detail--accordion-content" class="accrodion-content-pdp">
                    {{ product_detail }}
                  </dd>
                </dl><!-- .product-desc product-details -->
              {% endif %}

              {% comment %} Check if Fit Information available then only Show Fit Information section {% endcomment %}
              {% if fit_imformation != blank %}
                <hr class="product-hr">
                <dl id="product-fit--accordion" class="product-desc product-fit-info">
                  {% comment %} :: PRODUCT DETAIL - Header :: {% endcomment %}
                  <dt id="product-fit---accordion-header" class="accordion-header-pdp"><h3>Fit Information</h3><span class="opener">{% include 'svg-icon-caret-down' %}</span></dt>

                  {% comment %} :: PRODUCT DETAIL - Content :: {% endcomment %}
                  <dd id="product-fit--accordion-content" class="accrodion-content-pdp">
                    {{ fit_imformation }}
                  </dd>
                </dl><!-- .product-desc product-fit-info -->
              {% endif %}
            {% endif %}

            {% comment %} FREE SHIPPING & RETURNS {% endcomment %}

            {% if section.settings.shipping_text != blank or settings.shoprunner_enabled %}
              <hr class="product-hr">
                {% comment %} :: SHOPRUNNER :: {% endcomment %}
                {% if settings.shoprunner_enabled and template != 'product.quick' %}
                  {% include 'shoprunner-pdp'%}
                {% endif %}

            {% else %}
              <div class="shipping-title">{{ section.settings.shipping_header_text }}</div>
              <div class="shipping-text">{{ section.settings.shipping_text }}</div>

                      {% if section.settings.shipping_learn_more_link != blank or section.settings.shipping_show_account_link %}
                        <div class="free-shipping-links">
                          {% if section.settings.shipping_learn_more_link != blank %}
                            <a href="{{ section.settings.shipping_learn_more_link }}" class="free-shipping-link">Learn More</a>
                          {% endif %}
                          {% if section.settings.shipping_show_account_link %}
                            <a href="/account" class="free-shipping-link">
                              {% if customer %}
                                My Account
                              {% else %}
                                Sign In
                              {% endif %}
                            </a>
                          {% endif %}
                        </div>
                      {% endif %}
                    {% endif %}

          {% endunless %}
        </div>

        {% if section.settings.zoom_image_position == 'zoom_on_right' %}
          <div class="zoom-box"></div>
        {% endif %}

        {% if template == 'product.quick' %}
          <a href="{{ product.url | within_collection }}" class="full-click">{{ 'products.general.view_full' | t }}</a>
        {% endif %}

      </div>
    </div>

  </div><!-- .row -->
  <div class="clear"></div>
  {% unless template == 'product.quick' %}
  {% comment %} :: REVIEWS :: {% endcomment %}
    <div class="row product-details--reviews">
      {% include 'bazarvoice-review' %}
    </div>

    {% comment %} ::- Related Products ::- BOTTOM CONTENT {% endcomment %}
    {% if section.settings.related_products == 'show' %}
      <div class="container-fluid">
        <div id="related" class="bottom-related">
          {% if settings.nosto_id != blank %}
            {% include 'nosto-element' with 'productpage-nosto-1' %}
            {% include 'nosto-element' with 'productpage-nosto-2' %}
          {% endif %}
        </div>
      </div>
      <div class="clear"></div>
    {% endif %}

    {% comment %} :: CAMPAIGN VIDEO :: {% endcomment %}
    {% include 'product-campaign-video' %}

    {% comment %} :: RECENTLY VIEWED :: {% endcomment %}
    {% comment %} {% include 'recently-viewed' %} {% endcomment %}

    {% comment %} {% include 'script-infinite-variant' %} {% endcomment %}
  {% endunless %}
</div>
<!-- {% include 'nosto-tag' %} -->
{% unless template == 'product.quick' %}
  {% comment %} :: SIZE CHART PAGE ADD AT BOTTOM OF THE PAGE :: {% endcomment %}
  {% if section.settings.size_chart_show and has_audience %}
    {% include 'product-size-chart' %}
  {% endif %}

{% endunless %}
<style>
  {% if section.settings.thumbnails == 'right' %}
    .thumbnail-gallery {
      float: right;
    }
    .main-image-navigation {
      left: 10px;
    }
  {% endif %}
  {% if section.settings.thumbnails == 'bottom' and product.images.size > 4 %}
    .product-thumbnail {
      width: 100% !important;
      margin-top: 20px;
    }
    .thumbnail-slider .owl-wrapper-outer {
      z-index: 1 !important;
      margin: 0 0 0 10px !important;
      padding-left: 30px !important;
    }
    .thumbnail-slider .owl-prev {
      left: 0px;
      position: absolute;
      top: 40%;
      z-index: 1;
    }
    .thumbnail-slider .owl-next {
      right: 0px;
      top: 40%;
      z-index: 1;
      position: absolute;
    }
  {% endif %}
  {% if section.settings.thumbnails == 'left' %}
    .product-main-images {
      float: right !important;
    }
  {% endif %}
  {% if section.settings.product_variants == 'swatches' %}
    .selector-wrapper {
      display: none;
    }
    .single-option-selector {
      opacity: 0;
      display: none;
    }
  {% endif %}
  {% if section.settings.swatch_shape == 'circles' %}
    .swatch .color label {
      width: 30px !important;
      border-radius: 50% !important;
      outline: 0 !important;
      height: 30px !important;
    }
    .swatch .swatch-element.color input:checked+label:after, .swatch .swatch-element.color label:hover:after{
        border: 0px solid #000;
    }
    .swatch .swatch-element.color input:checked+label{
        border: 1px solid #000;
    }
  {% endif %}
  {% if product.images.size > 1 %}
    #product-description .zoom-box {
      left: 48%;
    }
  {% else %}
    #product-description .zoom-box {
      left: 57.5%;
    }
  {% endif %}
</style>

{% if customer %}
  <script type="text/javascript">
    window.addEventListener('load', function(event) {
      var findTrueFitElem = document.querySelector('.find-your-true-fit .tfc-size');
      if(findTrueFitElem){
        document.querySelector('body').classList.add('hasTrufit');
        var findTrueFitSize = findTrueFitElem.innerHTML.toLowerCase();
        document.querySelector('#swatch-1-'+findTrueFitSize).checked = true;
        var pantSizes = document.querySelectorAll('.pant--size');
        if(pantSizes){
          for(var key in pantSizes){
            var size = pantSizes[key].getAttribute('data-size').toLowerCase();
            if(size.includes(findTrueFitSize)){
              pantSizes[key].parentNode.classList.add('trufit-tr');
            }
          }
        }
      }
    });
  </script>
{% endif %}

{% schema %}
  {
    "name": "Product",
    "settings": [
      {
        "type": "header",
        "content": "Product form"
      },
      {
        "type": "checkbox",
        "id": "vendor",
        "label": "Show product vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_quantity",
        "label": "Show quantity",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_sku",
        "label": "Show variant SKU",
        "default": true
      },
      {
        "type": "radio",
        "id": "variant_display_type",
        "label": "Product variant display",
        "options": [
          {
            "value": "drop-downs",
            "label": "Drop-downs"
          },
          {
           "value": "swatches",
           "label": "Swatches"
          }
        ],
        "default": "swatches"
      },
      {
        "type": "checkbox",
        "id": "use_swatch_images",
        "label": "Show custom swatch images",
        "default": true
      },
      {
        "type": "select",
        "id": "swatch_shape",
        "label": "Color swatch shape",
        "options": [
          {
            "value": "circles",
            "label": "Circles"
          },
          {
            "value": "rectangles",
            "label": "Rectangles"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_payment_button",
        "label": "Show dynamic checkout button",
        "info": "Lets customers check out directly using a familiar payment method. [Learn more](https:\/\/help.shopify.com\/manual\/using-themes\/change-the-layout\/dynamic-checkout)",
        "default": false
      },
      {
        "type": "header",
        "content": "Auto selection"
      },
      {
        "type": "checkbox",
        "id": "disable_auto_select",
        "label": "Disable Size Auto Select",
        "info": "Disables auto-selecting of the first available variant (Keeps first option). [Learn more](https://help.shopify.com/en/themes/customization/products/variants/how-to-add-a-pick-an-option-to-drop-downs)",
        "default": true
      },
      {
        "type": "text",
        "id": "selection_label",
        "label": "Make a Selection Label",
        "default": "Select your Size"
      },
      {
        "type": "header",
        "content": "Product gallery"
      },
      {
        "type": "checkbox",
        "id": "show_controls",
        "label": "Show gallery controls",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_zoom",
        "label": "Show zoom",
        "default": false
      },
      {
        "type": "select",
        "id": "thumbnails",
        "label": "Thumbnail images position",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "select",
        "id": "zoom_image_position",
        "label": "Zoom image position",
        "options": [
          {
            "value": "zoom_over_main",
            "label": "Over top of main image"
          },
          {
            "value": "zoom_on_right",
            "label": "To right of main image"
          }
        ],
        "default": "zoom_over_main"
      },
      {
        "type": "header",
        "content": "Related Products"
      },
      {
        "type": "select",
        "id": "related_products",
        "label": "Show/Hide Related Products",
        "options": [
          {
            "value": "none",
            "label": "Do not show"
          },
          {
            "value": "show",
            "label": "Show"
          }
        ]
      },
      {
        "type": "header",
        "content": "Shipping Accordion"
      },
      {
        "type": "text",
        "id": "shipping_header_text",
        "label": "Shipping Header Text",
        "default": "Shipping & Returns"
      },
      {
        "type": "richtext",
        "id": "shipping_text",
        "label": "Shipping Text"
      },
      {
        "type": "url",
        "id": "shipping_learn_more_link",
        "label": "Learn more link"
      },
      {
        "type": "checkbox",
        "id": "shipping_show_account_link",
        "label": "Show account link"
      },
      {
        "type": "header",
        "content": "Social share"
      },
      {
        "type": "checkbox",
        "id": "show_social",
        "label": "Show social share icons",
        "default": false
      },
      {
        "type": "header",
        "content": "Size Chart"
      },
      {
        "type": "checkbox",
        "id": "size_chart_show",
        "label": "Show size chart",
        "default": true
      },
      {
        "type": "text",
        "id": "size_chart_header_text",
        "label": "Size Chart Header Text",
        "default": "Size Guide"
      },
      {
        "type": "page",
        "id": "size_chart_page",
        "label": "Size Chart Page"
      }
    ]
  }
{% endschema %}
