<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {% comment %} :: LIBRARY SCRIPTS :: {% endcomment %}
    {{ 'jquery-2.2.4.min.js' | asset_url | script_tag }}

  <!-- Data Layer for GTM
  ================================================== -->
    {% include 'script-google-tag-head' %}
    {% include 'script-data-layer' %}

    <!-- Sailthru
  ================================================== -->
    {% comment %}{% include 'sailthru-script' %}{% endcomment %}
    {% comment %} Added by Shoprunner {% endcomment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{{ 'shoprunner_init.js' | asset_url }}"></script>
    {% comment %} End of Added by Shoprunner {% endcomment %}

  </head>

  <body>
    {% include 'script-google-tag-body' %}
    {% comment %} Added for Shoprunner {% endcomment %}
    <script>
      $(document).on('page:load page:change', function() {
        addShoprunnerDivs();
        if ($('.section--shipping-method').length) {
          if ($.cookie("sr_token") == null){
            console.log("SR Token Was not found : ");
            if ( $('div.radio-wrapper[data-shipping-method*="shoprunner"]').length > 0) {
              $('.radio__input').prop('checked' , false);
              $('div.radio-wrapper[data-shipping-method*="shoprunner"]').parent().remove();
              $('[name="checkout[shipping_rate][id]"]').prop("checked",false);
              $('[name="checkout[shipping_rate][id]"]:first').prop("checked",true);
            };
          }
        };
      });

      function addShoprunnerDivs(){
        if ($('.order-summary__section__content [name="sr_headerDiv"]').length == 0){
          $('.order-summary__section__content').append('<div style="margin-bottom: 20px;" name="sr_headerDiv"></div>');
        }

        if (typeof window.sr_updateMessages !== "undefined") {
          window.sr_updateMessages();
        }
      };
    </script>
    {% comment %} End of Added for Shoprunner {% endcomment %}

    <p>
      {{ content_for_header }}
      {{ checkout_stylesheets }}
      {{ checkout_scripts }}
    </p>

    {{ skip_to_content_link }}

    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>

    <div id="sr_logic">{% include 'shoprunner-logic', isCheckout: true %}</div>

    {{ tracking_code }}

    {% comment %} :: BOL - Checkout Customizations :: {% endcomment %}
    {{ 'checkout.js' | asset_url | script_tag }}
  </body>
</html>
