<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {% comment %} Added by Shoprunner {% endcomment %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    {% comment %} End of Added by Shoprunner {% endcomment %}

    {% comment %} Shipping State Exclusions Array Init {% endcomment %}
    <script type="text/javascript">
      {% assign exclusionsArr = settings.checkout_shipping_state_exclusions | newline_to_br | split: '<br />' %}

      window.bol_checkout_shipping_state_exclusions = [
        {%- for exclusion in exclusionsArr -%}
          {% if forloop.last == true %}
            '{{ exclusion | strip_newlines }}'
          {% else %}
            '{{ exclusion | strip_newlines }}',
          {% endif %}
        {%- endfor -%} ];
    </script>

    {% comment %} :: LIBRARY SCRIPTS :: {% endcomment %}
    {{ 'vendor-checkout.js' | asset_url | script_tag }}


  <!-- Shoprunner
  ================================================== -->
    {% if settings.shoprunner_enabled %}
      {% comment %}{% include 'shoprunner-init', isCheckout: true %}{% endcomment %}
      {% include 'shoprunner-checkout-head' %}
    {% endif %}

  <!-- Data Layer for GTM
  ================================================== -->
    {% include 'script-google-tag-head' %}

    {%- if settings.enable_script_data_layer -%}
      {% include 'script-data-layer' %}
    {%- endif -%}

    {% if settings.favicon %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x' }}">
    {% endif %}
  

  <!-- Bazaar Voice
  ================================================== -->
  {% if settings.reviews_enabled %}
    {% include 'script-bazaarvoice' %}
  {% endif %} 


  {% comment %}
  <!-- Sailthru
  ================================================== -->
    {% include 'sailthru-script' %}
  {% endcomment %}

  </head>

  <body>
    {% include 'script-google-tag-body' %}

    <p>
      {{ content_for_header }}
      {{ checkout_stylesheets }}
      {{ checkout_scripts }}
    </p>

    {{ skip_to_content_link }}

    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {{ content_for_layout }}
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>

    {{ tracking_code }}

    {% comment %} :: Custom CSS :: {% endcomment %}
    {{ 'checkout.scss.css' | asset_url | stylesheet_tag }}

    {% comment %} :: BOL - Checkout Customizations :: {% endcomment %}
    {{ 'checkout.js' | asset_url | script_tag }}

    {% comment %} :: Shop Runner :: {% endcomment %}
    {% if settings.shoprunner_enabled %}
      {% include 'shoprunner-checkout-body' %}
    {% endif %}
    <div class="tfc-order-notify " data-userid="{% if customer %}{{ customer.name }}{% endif %}" data-orderid="{{ checkout.order_number }}"></div>
  </body>
</html>
